<p>A quien pueda interesar:</p>

<p>Me he percatado de que está utilizando mi imagen de Wikimedia Commons<span data-content="descr"></span> en la siguiente página: <br />
    <span class="indent" data-content="usage"></span>
</p>

<p>Mi imagen original se encuentra disponible<span data-content="upload_date"></span> en la siguiente página: <br />
    <span class="indent" data-content="file_url"></span>
</p>

<p>Desafortunadamente parece que no ha respetado mis derechos de autor, a pesar de que generosamente licencié la imagen bajo una licencia Creative Commons.</p>

<p>Lo que se necesita hacer es:
    <ul>
    <li>Mencionar que yo realicé dicha imagen: <span class="cmt" data-content="credit"></span></li>
    <li>Mencionar bajo qué licencia la imagen se encuentra disponible: <span class="cmt" data-content="license_title"></span></li>
    <li>Enlanzar al texto de la licencia: <span class="cmt" data-content="license_url"></span></li>
    <li>Indicar el título de la imagen: <span class="cmt" data-content="file_title"></span></li>
    <li>Enlazar de dónde se obtuvo la imagen: <span class="cmt" data-content="file_url"></span></li>
    <li>Si se realizaron cambios en la imagen, también se deben de mencionar.</li>
    </ul>
</p>

<p>A continuación, algunos ejemplos sobre cómo se puede hacer:
    <ul>
    <label>Online:</label> <span data-content="example_online"></span></li>
    <label>In print:</label> <span data-content="example_offline"></span></li>
    </ul>
</p>

<p>Si estas condiciones no se cumplen, la licencia no es aplicable para que la pueda usar.
Su uso de la imagen constituye por tanto un incumplimiento de material bajo copyright, cuya compensación puede ser requerida de acuerdo con la ley de Copyright.</p>

<p>Saludos cordiales,</p>

<p>[Nombre]</p>
